Update_Scorecards.updated.json
{
  "name": "Update Scorecards",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 0"
            }
          ]
        }
      },
      "id": "31415c6e-91e1-4eab-ac8d-db94e30dd250",
      "name": "Every Sunday at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2040, 320]
    },
    {
      "parameters": {
        "url": "https://serp.sugarwish.com/api/forecast/scorecard/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Uu0gQjgbu2KmxXowcV5CFrzXNsiDHqSMKrUEvGgqiA0"
            }
          ]
        },
        "options": {}
      },
      "id": "4da45a18-65b0-4c7b-8cc3-36cfa91b03b2",
      "name": "1. Get Last Week Average",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1800, 120]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n// Avg item cost. The consolidated /scorecard/export response nests cost under\n// `cost` (cost.average_unit_price, etc.); the old single-cost endpoint returned\n// it at top level. Read from cost.* with a top-level fallback so either shape works.\nconst cost = data.cost || data;\nlet costValue = cost.average_unit_price ? parseFloat(cost.average_unit_price) : 0;\nif (isNaN(costValue)) costValue = 0;\nconst formattedCost = `$${costValue.toFixed(2)}`;\n// Coverage percentages\nconst overall = data.overall || {};\nconst orderedPct = `${(overall.ordered && overall.ordered.pct != null) ? overall.ordered.pct : 0}%`;\nconst packedPct  = `${(overall.packed  && overall.packed.pct  != null) ? overall.packed.pct  : 0}%`;\nreturn [{ json: {\n  formattedCost, orderedPct, packedPct,\n  periodLabel: cost.period_label,\n  totalItems: cost.total_items_shipped,\n} }];"
      },
      "id": "9863c003-4abc-4336-bb68-4c79696cc0ae",
      "name": "2. Format Cost Value",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1560, 120]
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/17J0Uqqd0dkaS6-3TCCB_TtP1eZg6xbdC0IWThrOH5FM/values/Scorecard26!B34:B36",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "f5f6fa22-3f1a-44a7-91cf-29da31db8eaa",
      "name": "3. Read B34:B36",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1320, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YY0aKH375lw428rC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "chk-b34",
              "leftValue": "={{ $json.values[0][0] }}",
              "rightValue": "Avg Item Cost",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "chk-b35",
              "leftValue": "={{ $json.values[1][0] }}",
              "rightValue": "Core Product % at 4 weeks plus lead time",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "chk-b36",
              "leftValue": "={{ $json.values[2][0] }}",
              "rightValue": "Core Product % with 2 Weeks of SA/FG",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a33b9aed-76cf-44e4-8a60-5f6b9a985627",
      "name": "4. Labels Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1080, 120]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/17J0Uqqd0dkaS6-3TCCB_TtP1eZg6xbdC0IWThrOH5FM/values/Scorecard26!F34:F36?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$('2. Format Cost Value').item.json.formattedCost], [$('2. Format Cost Value').item.json.orderedPct], [$('2. Format Cost Value').item.json.packedPct]] }) }}",
        "options": {}
      },
      "id": "d4ff0918-db39-49cd-be5d-2fdabe553314",
      "name": "5. Update F34:F36",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-840, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YY0aKH375lw428rC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "jack-test",
          "mode": "name"
        },
        "text": "=\u2705 Weekly scorecard updated ({{ $('2. Format Cost Value').first().json.periodLabel }}, {{ $('2. Format Cost Value').first().json.totalItems.toLocaleString() }} items)\n\u2022 *Avg Item Cost* \u2192 F34: {{ $('2. Format Cost Value').first().json.formattedCost }}\n\u2022 *Core % @ 4wk+lead (ordered)* \u2192 F35: {{ $('2. Format Cost Value').first().json.orderedPct }}\n\u2022 *Core % @ 2wk SA/FG (packed)* \u2192 F36: {{ $('2. Format Cost Value').first().json.packedPct }}",
        "otherOptions": {}
      },
      "id": "fbda45be-a02e-4dd2-94f2-c282e1439588",
      "name": "6. Confirm in Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [-600, 120],
      "webhookId": "5884428a-acc9-447d-9399-9528f1883022",
      "credentials": {
        "slackApi": {
          "id": "IafsmXhPRCyykQMM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "jack-test",
          "mode": "name"
        },
        "text": "=\u26a0\ufe0f Weekly scorecard update FAILED \u2014 did NOT write F34:F36\nExpected labels in B34:B36:\n\u2022 B34: \"Avg Item Cost\" \u2192 found {{ $json.values[0] ? $json.values[0][0] : 'MISSING' }}\n\u2022 B35: \"Core Product % at 4 weeks plus lead time\" \u2192 found {{ $json.values[1] ? $json.values[1][0] : 'MISSING' }}\n\u2022 B36: \"Core Product % with 2 Weeks of SA/FG\" \u2192 found {{ $json.values[2] ? $json.values[2][0] : 'MISSING' }}\n\nScorecard rows may have shifted.",
        "otherOptions": {}
      },
      "id": "ab659e76-d5f0-4b4b-9ee6-f57015302997",
      "name": "6. Error - Wrong Labels",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [-840, -80],
      "webhookId": "92247083-eb4c-418e-8044-8c05c70d9787",
      "credentials": {
        "slackApi": {
          "id": "IafsmXhPRCyykQMM",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Sunday at 9 AM": {
      "main": [
        [
          {
            "node": "1. Get Last Week Average",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Get Last Week Average": {
      "main": [
        [
          {
            "node": "2. Format Cost Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Format Cost Value": {
      "main": [
        [
          {
            "node": "3. Read B34:B36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Read B34:B36": {
      "main": [
        [
          {
            "node": "4. Labels Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Labels Match?": {
      "main": [
        [
          {
            "node": "5. Update F34:F36",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6. Error - Wrong Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Update F34:F36": {
      "main": [
        [
          {
            "node": "6. Confirm in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fad612d4-8177-451b-925e-e671ce27aa60",
  "meta": {
    "instanceId": "c840a10576e00ab2533eec2b835c01b97e942057b9c92cd733ead1e724f40a56"
  },
  "id": "ttKcozL8m1zTQvTT",
  "tags": [
    {
      "createdAt": "2025-12-08T19:42:04.171Z",
      "updatedAt": "2025-12-08T19:42:04.171Z",
      "id": "lEzklHffkgE3bRKm",
      "name": "jack"
    }
  ]
}
