workflows/n8n/Cost_Tracker_Weekly_Average.json
{
  "name": "Cost Tracker Weekly Average",
  "nodes": [
    {
      "id": "trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-12400, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "http-001",
      "name": "1. Call Cost Tracker API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-12160, 200],
      "parameters": {
        "method": "GET",
        "url": "https://serp.sugarwish.com/api/forecast/cost-tracker/current-week-average",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Uu0gQjgbu2KmxXowcV5CFrzXNsiDHqSMKrUEvGgqiA0"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-001",
      "name": "2. Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-11920, 200],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Calculate coverage percentage\nconst totalSkus = data.skus_with_cost + data.skus_missing_cost;\nconst coveragePct = totalSkus > 0 ? ((data.skus_with_cost / totalSkus) * 100).toFixed(1) : 0;\n\n// Format the cost nicely\nconst avgCost = data.average_cost_per_item;\n\n// Build Slack blocks\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: '📊 Weekly Cost Tracker Report',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Period:* ${data.period_label}${data.is_partial ? ' (partial week)' : ''}`\n    }\n  },\n  {\n    type: 'divider'\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*Average Cost/Item*\\n${avgCost}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Items Shipped*\\n${data.total_items_shipped.toLocaleString()}`\n      }\n    ]\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*SKUs with Cost*\\n${data.skus_with_cost.toLocaleString()}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*SKUs Missing Cost*\\n${data.skus_missing_cost.toLocaleString()}`\n      }\n    ]\n  },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `Data coverage: ${coveragePct}% of SKUs have cost data | ${data.start_date} to ${data.end_date}`\n      }\n    ]\n  }\n];\n\nreturn [{ json: { blocks } }];"
      }
    },
    {
      "id": "slack-001",
      "name": "3. Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [-11680, 200],
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "ops-and-tech",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "IafsmXhPRCyykQMM",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "1. Call Cost Tracker API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Call Cost Tracker API": {
      "main": [
        [
          {
            "node": "2. Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Format Slack Message": {
      "main": [
        [
          {
            "node": "3. Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8a2b3c4-d5e6-7890-abcd-ef1234567890",
  "meta": {
    "instanceId": "c840a10576e00ab2533eec2b835c01b97e942057b9c92cd733ead1e724f40a56"
  },
  "id": "costTrackerWeekly",
  "tags": ["cost-tracker", "weekly", "forecast"]
}
